aws/Project-101-kittens-carousel-static-website-ec2/kittens-carousel-static-hocanınwebsite.yml
aws/Project-004-Phonebook-Application/phonebook_template.yaml
aws/Project-004-Phonebook-Application/phonebook_template.yaml
aws/my-aws-capstone-project/src/.env
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/.terraform/providers/registry.terraform.io/hashicorp/aws/4.10.0/windows_amd64/terraform-provider-aws_v4.10.0_x5.exe
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/terraform.tfstate
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/terraform-provider-github_v4.23.0.exe
.gitignore
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/CHANGELOG.md
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/LICENSE
devops/202-Terraform-Phonebook-Application-deployed-on-AWS/tf-files/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/README.md
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/terraform-provider-github_v4.23.0.exe
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform.lock.hcl
devops/203-dockerization-bookstore-api-on-python-flask-mysql/terraform.tfstate
devops/203-dockerization-bookstore-api-on-python-flask-mysql/terraform.tfstate.backup
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform/providers/registry.terraform.io/hashicorp/aws/4.11.0/windows_amd64/terraform-provider-aws_v4.11.0_x5.exe
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/CHANGELOG.md
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/LICENSE
devops/203-dockerization-bookstore-api-on-python-flask-mysql/.terraform/providers/registry.terraform.io/integrations/github/4.23.0/windows_amd64/README.md
devops/203-dockerization-bookstore-api-on-python-flask-mysql/519-5197888_terraform-terraform-icon-png-clipart.png
devops/203-dockerization-bookstore-api-on-python-flask-mysql/architecture.jpg
